html,
body,
#intro {
    height: 100%;
}

#intro {
    background: url("../../img/Sunset.jpg") no-repeat center center fixed;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.required{
    color: red;
}
.form-control:focus {
   border-bottom-color:#4FB3BF;
}
label{
    color: #4FB3BF;
}
.bg {
    background: url("../../img/Sunset.jpg");
}

.round-corner {
    border-radius: 100%;
}

.side-nav > a {
    color: #FFFFFF;
}

.side-nav {
    width: inherit;
    list-style-type: none;
}

.side-nav:hover {
    background-color: #0c5460;
    border-radius: 4px;
    opacity: 0.5;
}

.active {
    background-color: green;
    border-radius: 4px;
}

.t-row > th {
    font-weight: bold;
}